Source: com.github.mirkobrombin.football
Section: x11
Priority: extra
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3,
               python-all,
               python-setuptools
Standards-Version: 3.9.3

X-Python-Version: >= 3.6.8
Package: com.github.mirkobrombin.football
Architecture: any
Depends: python3, python-requests, ${misc:Depends}
Description: Football
 An application for tracking Football scores, designed for elementary OS.
