Source: com.github.mirkobrombin.football
Section: x11
Priority: extra
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3
X-Python3-Version: >= 3.6.9
Standards-Version: 3.9.3
Homepage: https://git.mirko.pm/brombinmirko/football
Vcs-Git: https://git.mirko.pm/brombinmirko/football.git
Vcs-Browser: https://git.mirko.pm/brombinmirko/football

Package: com.github.mirkobrombin.football
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         python3,
         python3-gi,
         libgranite-dev
Description: Football
 An application for tracking Football scores, designed for elementary OS.
