[Desktop Entry]
Name=Football
GenericName=Football
Comment=Check Football competitions status
Categories=Education;
Exec=com.github.brombinmirko.football
Icon=com.github.brombinmirko.football
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.brombinmirko.football
Keywords=Football;
