[Desktop Entry]
Name=Football
GenericName=Football
Comment=Check Football competitions status
Categories=Other;
Exec=com.github.mirkobrombin.football
Icon=com.github.mirkobrombin.football
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.mirkobrombin.football
Keywords=Football;
